version: '3.8'
    services:
      db:
        image: postgres:latest
        environment:
          POSTGRES_DB: alx_caching_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
        ports:
          - "5432:5432"
        volumes:
          - pg_data:/var/lib/postgresql/data
        restart: unless-stopped

      redis:
        image: redis:latest
        ports:
          - "6379:6379"
        volumes:
          - redis_data:/data
        restart: unless-stopped

    volumes:
      postgres_data:
      redis_data:
